# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media & Streaming artifacts
transcoding_temp/
ingestion_buffer/
metadata_cache/
drm_keys/
cdn_logs/
hls_segments/
dash_manifests/
vod_storage_sim/
streaming_metrics/
